* {
    margin: 0;
}

.nopage-wrapper {

}

.nopage-content {
    background: rgb(241, 240, 240);
    margin: 150px 30px 0 30px;
    padding: 60px 0 60px 0;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nopage-heading {
    color: #555;

    font-family: 'Bebas Neue';
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 2px;
}

.nopage-heading:hover {
    color: #000;
    
    transition: all .1s ease-in-out;
}